@import url('base.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-45deg, rgb(98, 186, 216), rgb(68, 68, 248));
  padding: 0 1rem;
}

main {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main-header {
  text-align: center;
  flex: 1 1 100%;
  color: rgb(2, 2, 141);
}

.main-header h1 {
  font-size: 38px;
  letter-spacing: 5px;
}

.main-header p {
  font-size: 14px;
  color: rgb(0, 0, 104);
}

.main-main {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  max-height: 600px;
  overflow-y: scroll;
  flex-direction: column;
  gap: 2rem;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.input span {
  color: rgb(2, 2, 141);
  font-weight: bold;
  letter-spacing: 1px;
}

.input input, .input select {
  padding: 10px;
  border: 3px solid rgb(74, 74, 255);
  border-radius: 10px;
  font-size: 18px;
  color: rgb(0, 0, 104);
}

.input input::placeholder {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  letter-spacing: 1px;
}

.input input:focus {
  outline: 2px solid lightblue;
  border-color: rgb(142, 142, 255);
}

.button {
  margin-top: 1rem;
  border: 4px solid rgb(0, 0, 104);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: rgb(0, 0, 104);
  width: 50%;
  align-self: center;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  height: 50%;
}

.header {
  text-align: center;
  color: white;
  letter-spacing: 2px;
  background-color: rgb(0, 0, 104);
  padding: 10px;
  border-radius: 10px;
}

.poema {
  background-color: rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 10px;
  height: max-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}

.poema p {
  width: 210px;
}